.plans-wrapper {
  text-align: center;
  padding: 40px 20px;
  background-color: #0f0f1a;
}

.plans-title {
  font-size: 36px;
  margin-bottom: 30px;
  color: white;
}

.plans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.plan-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 5px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 430px;
  transition: transform 0.3s;
}

.plan-card:hover {
  transform: scale(1.03);
}

.plan-content {
  flex-grow: 1;
}

.plan-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.plan-title {
  font-size: 22px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: white; /* Fondo blanco */
  display: inline-block;
  border-radius: 4px;
}

.plan-description {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

.plan-items {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.plan-items li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.plan-button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  color: white;
  align-self: center;
}

/* Hover para todos */
.plan-button:hover {
  opacity: 0.85;
}

/* Planes personalizados */
.plan-0 {
  border-color: #FFD700; /* Amarillo */
}

.plan-0 .plan-title {
  color: #FFD700;
}

.plan-0 .plan-button {
  background-color: #FFD700;
  color: white;
}

.plan-1 {
  border-color: #DAA520; /* Dorado */
}

.plan-1 .plan-title {
  color: #DAA520;
}

.plan-1 .plan-button {
  background-color: #DAA520;
  color: white;
}

.plan-2 {
  border-color: #C0C0C0; /* Plateado */
}

.plan-2 .plan-title {
  color: #C0C0C0;
}

.plan-2 .plan-button {
  background-color: #C0C0C0;
  color: white;
}

.plan-3 {
  border-color: #000000; /* Negro */
}

.plan-3 .plan-title {
  color: #000000;
}

.plan-3 .plan-button {
  background-color: #000000;
  color: white;
}
