.container {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    background-color: rgb(55, 55, 116);
    padding: 20px;
  }

  .title_main1 {
    text-align: center;
    color: aquamarine;
    font-size: 2vw;

  }

  .text_main1 {
    text-align: center;
    color: WHITE;
    font-size: 1.5VW;

  }
  
  .image-container img {
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 300px; /* 游늷 Limita el tama침o m치ximo */
    height: auto; /* Mantiene la proporci칩n */
    border-radius: 10px; /* Bordes redondeados opcionales */
    object-fit: cover; /* Evita distorsiones */
  }
  
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional: bordes redondeados */
  }
  
  /* 游늷 Texto a la derecha */
  .text-container {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .text-container h2 {
    margin-bottom: 10px;
  }
  
  .text-container p {
    line-height: 1.5;
  }
  
  /* 游늷 Responsividad para m칩viles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-container {
      text-align: center;
      padding: 10px;
    }
    .text_main1 {
      text-align: center;
      color: WHITE;
      font-size: 2.5VW;
  
    }

  }
  