@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(55, 55, 116);
}


* {
  font-family: 'Lato', sans-serif;
}


body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(55, 55, 116);
  color: white;
}


/* Clase inicial: elementos ocultos */
.hidden {
  opacity: 0;
  transform: translateY(50px); /* Baja 50px */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Cuando el elemento entra en pantalla */
.show {
  opacity: 1;
  transform: translateY(0);
}

